body{
    background: #1e1f24;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:blue;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    Background: #37488b;
    box-shadow: 0px 2px 20px 0px rgb(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #linea {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em; 
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    text-align: solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
    margin: 1px;
    padding: 1px;

}

#seccion
{
    display: inline-block;
    margin: 1px;
    padding: 1px;
}

#lateral
{
    display: inline-block;
    margin: 1px;
    padding: 1px;

}

#post
{
    background: white;
    padding: 1em;
}